#!/usr/local/bin/hook
---
component: redis
kinds:
- apiVersion: illallangi.enterprises/v1alpha1
  kind: FediverseRelay
---
apiVersion: "v1"
kind: "Service"
metadata: {{ _component.metadata }}
spec:
  ports:
  - name: redis
    port: 6379
    protocol: TCP
    targetPort: 6379
  selector: {{ _component.selector }}