#!/usr/local/bin/hook
---
kinds:
- apiVersion: illallangi.enterprises/v1alpha1
  kind: AIS
---
apiVersion: "v1"
data:
  latitude: "{{ _instance.spec.ais.position.latitude }}"
  longitude: "{{ _instance.spec.ais.position.longitude }}"
  title: "{{ _instance.spec.ais.title | replace(' ', '&nbsp;') }}"
  udpFeeds: {% for feed in _instance.spec.ais.udpFeeds %}{{ feed.host }}:{{ feed.port }}{% if loop.last == false %},{% endif %}{% endfor %}
kind: "ConfigMap"
metadata: {{ _instance.metadata }}