#!/usr/local/bin/hook
---
kinds:
- apiVersion: illallangi.enterprises/v1alpha1
  kind: PiGallery
---
apiVersion: "apps/v1"
kind: "Deployment"
metadata: {{ _instance.metadata }}
spec:
  replicas: 1
  selector:
    matchLabels: {{ _instance.selector }}
  strategy:
    type: "Recreate"
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: pigallery
      labels: {{ _instance.selector }}
    spec:
      containers:
      - envFrom:
        - configMapRef:
            name: "{{ _instance.metadata.name }}"
        image: docker.io/bpatrik/pigallery2:latest
        imagePullPolicy: "IfNotPresent"
        livenessProbe:
          httpGet:
            port: http
        name: pigallery
        ports:
        - containerPort: 80
          name: http
        resources: {}
        startupProbe:
          httpGet:
            port: http
          failureThreshold: 30
        volumeMounts:
        - mountPath: "/app/data/images"
          name: "data"
          subPath: "{{ _component.spec.pigallery.data.subPath }}"
        - mountPath: "/app/data/config"
          name: "persistence"
          subPath: "app/data/config"
        - mountPath: "/app/data/db"
          name: "persistence"
          subPath: "app/data/config"
        - mountPath: "/app/data/tmp"
          name: "persistence"
          subPath: "app/data/tmp"
{% if _component.spec.pigallery is defined
   and _component.spec.pigallery.backup is defined %}
      - env:
          - name: "RUN_ON_STARTUP"
            value: "true"
          - name: "BACKUP_CRON"
            value: "{{ _component.spec.pigallery.backup.schedule }}"
          - name: "RESTIC_BACKUP_SOURCES"
            value: /app/data
          - name: "RESTIC_BACKUP_ARGS"
            value: --verbose --host {{ _component.metadata.name }}.{{ _component.metadata.namespace }}.svc.cluster.local --tag pigallery
          - name: "RESTIC_FORGET_ARGS"
            value: --keep-last 10 --keep-daily 7 --keep-weekly 5 --keep-monthly 12
          - name: "RESTIC_REPOSITORY"
            value: "{{ _component.spec.pigallery.backup.b2repo }}:/{{ _component.metadata.namespace }}/{{ _component.metadata.name }}"
          - name: "TZ"
            value: "Australia/Melbourne"
          - name: "RESTIC_PASSWORD"
            valueFrom: {{ _component.spec.pigallery.backup.resticPassword }}
          - name: "B2_ACCOUNT_ID"
            valueFrom: {{ _component.spec.pigallery.backup.b2AccountId }}
          - name: "B2_ACCOUNT_KEY"
            valueFrom: {{ _component.spec.pigallery.backup.b2AccountKey }}
        image: docker.io/mazzolino/restic:1.7.0
        imagePullPolicy: IfNotPresent
        name: backup
        volumeMounts:
        - mountPath: "/app/data"
          name: "persistence"
          subPath: "app/data"
{% endif %}
      dnsConfig:
        options:
          - name: ndots
            value: "1"
      serviceAccount: "{{ _instance.metadata.name }}"
      serviceAccountName: "{{ _instance.metadata.name }}"
      volumes:
      - persistentVolumeClaim:
          claimName: "{{ _instance.metadata.name }}"
        name: "persistence"
      - persistentVolumeClaim:
          claimName: "{{ _instance.spec.pigallery.data.name }}"
        name: "data"
