#!/usr/local/bin/hook
---
kinds:
- apiVersion: illallangi.enterprises/v1alpha1
  kind: PiGallery
---
apiVersion: "apps/v1"
kind: "Deployment"
metadata: {{ _instance.metadata }}
spec:
  replicas: 1
  selector:
    matchLabels: {{ _instance.selector }}
  strategy:
    type: "Recreate"
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: pigallery
      labels: {{ _instance.selector }}
    spec:
      containers:
      - envFrom:
        - configMapRef:
            name: "{{ _instance.metadata.name }}"
        image: docker.io/bpatrik/pigallery2:latest
        imagePullPolicy: "IfNotPresent"
        livenessProbe:
          httpGet:
            port: http
        name: pigallery
        ports:
        - containerPort: 80
          name: http
        resources: {}
        startupProbe:
          httpGet:
            port: http
          failureThreshold: 30
        volumeMounts:
        - mountPath: "/app/data/images"
          name: "persistence"
          subPath: "images"
        - mountPath: "/app/data/config"
          name: "scratch"
          subPath: "config"
        - mountPath: "/app/data/db"
          name: "scratch"
          subPath: "db"
        - mountPath: "/app/data/tmp"
          name: "scratch"
          subPath: "tmp"
      dnsConfig:
        options:
          - name: ndots
            value: "1"
      serviceAccount: "{{ _instance.metadata.name }}"
      serviceAccountName: "{{ _instance.metadata.name }}"
      volumes:
      - persistentVolumeClaim:
          claimName: "{{ _instance.metadata.name }}"
        name: "persistence"
      - emptyDir: {}
        name: "scratch"