#!/usr/local/bin/hook
---
component: memcached
kinds:
- apiVersion: illallangi.enterprises/v1alpha1
  kind: OpenProject
---
apiVersion: "apps/v1"
kind: "Deployment"
metadata: {{ _component.metadata }}
spec:
  replicas: 1
  selector:
    matchLabels: {{ _component.selector }}
  strategy:
    type: "Recreate"
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: memcached
      labels: {{ _component.selector }}
    spec:
      containers:
      - image: {{ 'IMAGE_MEMCACHED' | getenv }}
        imagePullPolicy: "IfNotPresent"
        livenessProbe:
          tcpSocket:
            port: memcached
        name: "memcached"
        ports:
        - containerPort: 11211
          name: memcached
        resources: {}
        startupProbe:
          tcpSocket:
            port: memcached
          failureThreshold: 30
      serviceAccount: "{{ _instance.metadata.name }}"
      serviceAccountName: "{{ _instance.metadata.name }}"