#!/usr/local/bin/hook
---
component: cloudflare
kinds:
- apiVersion: illallangi.enterprises/v1alpha1
  kind: ESPHome
---
apiVersion: "apps/v1"
kind: "Deployment"
metadata: {{ _component.metadata }}
spec:
  replicas: 1
  selector:
    matchLabels: {{ _component.selector }}
  strategy:
    type: "Recreate"
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: cloudflare
      labels: {{ _component.selector }}
    spec:
      containers:
      - args:
        - "tunnel"
        - "run"
        env:
        - name: "TUNNEL_TRANSPORT_PROTOCOL"
          value: "http2"
        - name: "TUNNEL_TOKEN"
          valueFrom: {{ _component.spec.cloudflare.apiToken }}
        image: "ghcr.io/erisa/cloudflared:2023.8.0"
        imagePullPolicy: "IfNotPresent"
        name: "cloudflare"
        resources: {}
      serviceAccount: "{{ _instance.metadata.name }}"
      serviceAccountName: "{{ _instance.metadata.name }}"
      volumes:
      - configMap:
          name: "{{ _component.metadata.name }}"
        name: "config"
      initContainers:
      - args:
        - "service"
        - "{{ _instance.metadata.name }}"
        - "--namespace {{ _instance.metadata.namespace }}"
        image: "ghcr.io/groundnuty/k8s-wait-for:v2.0"
        imagePullPolicy: "IfNotPresent"
        name: "init"
        resources: {}