#!/usr/local/bin/hook
---
kinds:
- apiVersion: illallangi.enterprises/v1alpha1
  kind: KeyCloak
---
apiVersion: "v1"
data:
  KC_HOSTNAME_ADMIN: "https://{{ _instance.spec.tailscale.tsDomain }}"
  KC_HOSTNAME_DEBUG: "true"
  KC_PROXY_HEADERS: "xforwarded"
kind: "ConfigMap"
metadata: {{ _instance.metadata }}