#!/usr/local/bin/hook
---
kinds:
- apiVersion: illallangi.enterprises/v1alpha1
  kind: Shlink
---
apiVersion: "v1"
data:
  DEFAULT_DOMAIN: "{{ _instance.spec.webDomain }}"
  IS_HTTPS_ENABLED: "true"
  AUTO_RESOLVE_TITLES: "false"
  DEFAULT_SHORT_CODES_LENGTH: "4"
  SHORT_URL_MODE: "loose"
  DISABLE_TRACKING: "true"
  SKIP_INITIAL_GEOLITE_DOWNLOAD: "true"
kind: "ConfigMap"
metadata: {{ _instance.metadata }}