#!/usr/local/bin/hook
---
kinds:
- apiVersion: illallangi.enterprises/v1alpha1
  kind: Shlink
---
apiVersion: "apps/v1"
kind: "Deployment"
metadata: {{ _instance.metadata }}
spec:
  replicas: 1
  selector:
    matchLabels: {{ _instance.selector }}
  strategy:
    type: "Recreate"
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: shlink
      labels: {{ _instance.selector }}
    spec:
      containers:
      - env:
        - name: "MULTI_SEGMENT_SLUGS_ENABLED"
          value: "true"
        - name: "PORT"
          value: "8081"
        - name: DB_DRIVER
          value: "mariadb"
        - name: DB_HOST
          valueFrom:
            configMapKeyRef:
              key: hostname
              name: "{{ _instance.metadata.name }}-mariadb"
        - name: DB_USER
          valueFrom:
            configMapKeyRef:
              key: username
              name: "{{ _instance.metadata.name }}-mariadb"
        - name: DB_NAME
          valueFrom:
            configMapKeyRef:
              key: database
              name: "{{ _instance.metadata.name }}-mariadb"
        - name: DB_PORT
          valueFrom:
            configMapKeyRef:
              key: port
              name: "{{ _instance.metadata.name }}-mariadb"
        - name: DB_PASSWORD
          valueFrom: {{ _instance.spec.mariadb.password }}
        - name: INITIAL_API_KEY
          valueFrom: {{ _instance.spec.shlink.apiKey }}
        envFrom:
        - configMapRef:
            name: "{{ _instance.metadata.name }}"
        image: {{ 'IMAGE_SHLINK' | getenv }}
        imagePullPolicy: "IfNotPresent"
        livenessProbe:
          httpGet:
            path: "/rest/health"
            port: http
        name: "shlink"
        ports:
        - containerPort: 8081
          name: http
        resources: {}
        startupProbe:
          httpGet:
            path: "/rest/health"
            port: http
          failureThreshold: 30
{% if _instance.spec.tailscale is defined %}
      - image: {{ 'IMAGE_CADDY' | getenv }}
        imagePullPolicy: IfNotPresent
        name: caddy
        volumeMounts:
        - mountPath: /etc/caddy/Caddyfile
          name: tailscale
          subPath: Caddyfile
        - mountPath: "/var/run/tailscale"
          name: "persistence"
          subPath: "var/run/tailscale"
      - env:
        - name: TS_KUBE_SECRET
          value: {{ _instance.metadata.name }}-tailscale
        - name: TS_EXTRA_ARGS
          value: --hostname={{ _instance.spec.shlink.clientDomain | regex_search('^([a-z][a-z0-9-]*)\.great-tuna\.ts\.net$', '\\1') | first() }}
        - name: TS_AUTH_KEY
          valueFrom: {{ _instance.spec.tailscale.apiToken }}
        image: {{ 'IMAGE_TAILSCALE' | getenv }}
        imagePullPolicy: IfNotPresent
        name: tailscale
        resources: {}
        volumeMounts:
        - mountPath: /tmp
          name: persistence
          subPath: var/run/tailscale
      - env:
        - name: "SHLINK_SERVER_API_KEY"
          valueFrom: {{ _instance.spec.shlink.apiKey }}
        envFrom:
        - configMapRef:
            name: "{{ _instance.metadata.name }}"
        image: {{ 'IMAGE_SHLINKWEBCLIENT' | getenv }}
        imagePullPolicy: "IfNotPresent"
        name: "shlinkwebclient"
        resources: {}
{% endif %}
      dnsConfig:
        options:
          - name: ndots
            value: "1"
      initContainers:
      - args:
        - "service"
        - "{{ _instance.metadata.name }}-mariadb"
        - "--namespace {{ _instance.metadata.namespace }}"
        image: {{ 'IMAGE_K8SWAITFOR' | getenv }}
        imagePullPolicy: "IfNotPresent"
        name: "init-mariadb"
        resources: {}
      serviceAccount: "{{ _instance.metadata.name }}"
      serviceAccountName: "{{ _instance.metadata.name }}"
      volumes:
      - persistentVolumeClaim:
          claimName: "{{ _instance.metadata.name }}"
        name: "persistence"
      - name: "tailscale"
        projected:
          sources:
          - configMap:
              items:
              - key: "Caddyfile"
                path: "Caddyfile"
              name: "{{ _instance.metadata.name }}-tailscale"
