#!/usr/local/bin/hook
---
kinds:
- apiVersion: illallangi.enterprises/v1alpha1
  kind: WebTrees
---
apiVersion: "v1"
data:
  BASE_URL: "https://{{ _instance.spec.webtrees.webDomain }}"
  PRETTY_URLS: "true"
kind: "ConfigMap"
metadata: {{ _instance.metadata }}