#!/usr/local/bin/hook
---
kinds:
- apiVersion: illallangi.enterprises/v1alpha1
  kind: Plex
---
apiVersion: "v1"
data:
 DOCKER_MODS=linuxserver/mods:plex-audnexus|linuxserver/mods:plex-absolute-hama
 PGID: "1061"
 PUID: "1061"
 TZ: "Australia/Melbourne"
 VERSION: "latest"
kind: "ConfigMap"
metadata: {{ _instance.metadata }}