#!/usr/local/bin/hook
---
kinds:
- apiVersion: illallangi.enterprises/v1alpha1
  kind: ADSB
---
apiVersion: "v1"
data:
  altitude: "{{ _instance.spec.adsb.position.altitude }}m"
  latitude: "{{ _instance.spec.adsb.position.latitude }}"
  longitude: "{{ _instance.spec.adsb.position.longitude }}"
  title: "{{ _instance.spec.adsb.title }}"
  timezone: "{{ _instance.spec.timezone | default('Australia/Melbourne') }}"
  url: "{{ _instance.spec.adsb.webDomain }}"
kind: "ConfigMap"
metadata: {{ _instance.metadata }}