#!/usr/local/bin/hook
---
component: cloudflare
kinds:
- apiVersion: illallangi.enterprises/v1alpha1
  kind: Shlink
---
apiVersion: "rbac.authorization.k8s.io/v1"
kind: "Role"
metadata: {{ _component.metadata }}
rules:
- apiGroups:
  - ""
  resources:
  - "pods"
  - "services"
  verbs:
  - "get"
  - "list"