#!/usr/local/bin/hook
---
component: tailscale
kinds:
- apiVersion: illallangi.enterprises/v1alpha1
  kind: Radarr
---
apiVersion: "v1"
data:
  Caddyfile: |-
    {{ _instance.spec.radarr.webDomain }}:443 {
      tls webmaster@illallangi.enterprises {
        on_demand
      }
      reverse_proxy localhost:7878
    }
kind: "ConfigMap"
metadata: {{ _component.metadata }}